<!--Table-->
<div>
    <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary" style=" border-radius:7px;">search</button>
    </div>
    <br />
    <div class="entQun">

        <select name="entitiesNum" id="entitiesNum" style="color:dodgerblue; border-radius:8px;">
            <option value="All">All</option>
            <option value="10">10</option>
            <option value="30">30</option>
            <option value="50">50</option>
        </select>
    </div>
    <style>
        .input-group {
            width: 50%;
        }

        select {
            width: 150px;
        }

            select:focus {
                min-width: 150px;
                width: auto;
            }
    </style>

</div>


<br />

<table class="table table-hover table-fixed">
    <div>
        <style>
            body {
                background-image: url('https://drive.google.com/uc?export=view&id=11FIGGBATi0R5sTlDniwKTYDsWiLWdoSf');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </div>

    <!--Table head-->
    <thead>
        <tr>
            <th>code</th>
            <th>UserName</th>
            <th>Name</th>
            <th>UserType</th>
            <th>Date of Registration</th>
            <th>Edit</th>
            <th style="color:indianred">Delete</th>
        </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        <tr>
            <th scope="row">4</th>
            <td>Jerry</td>
            <td>Horwitz</td>
            <td>Italy</td>
            <td>Bari</td>
            <td>Editor-in-chief</td>
            <td>41</td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>Janis</td>
            <td>Joplin</td>
            <td>Poland</td>
            <td>Warsaw</td>
            <td>Video Maker</td>
            <td>39</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Gary</td>
            <td>Winogrand</td>
            <td>Germany</td>
            <td>Berlin</td>
            <td>Photographer</td>
            <td>37</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Angie</td>
            <td>Smith</td>
            <td>USA</td>
            <td>San Francisco</td>
            <td>Teacher</td>
            <td>52</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>John</td>
            <td>Mattis</td>
            <td>France</td>
            <td>Paris</td>
            <td>Actor</td>
            <td>28</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Otto</td>
            <td>Morris</td>
            <td>Germany</td>
            <td>Munich</td>
            <td>Singer</td>
            <td>35</td>
        </tr>
    </tbody>
    <!--Table body-->

</table>
<!--Table-->